:root {
  --header-container-height: 58px;
  --footer-container-height: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FBFBFF;
  height: calc(100vh - var(--footer-container-height) - var(--header-container-height));
  color: #191919;
}

h1, h2, h3, h4 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: larger;
}

#app {
  /* height: 100%; */
}
